.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search>h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 558px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    /* top: 380px; */
}

.search>input {
    width: 558px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 402px;
    border: none;
}

.search>input:focus {
    outline-width: 0;
}

.search>button {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit;
    background-color: #FF5A5F;
    color: white;
    width: 558px;
}

.search>button:hover {
    background-color: white;
    color: #FF5A5F;
}